<<<<<<< HEAD
.root{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#008040, #00cc66);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-text-fill: white;
    -fx-background-color: #00cc66;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
=======
.root{
    -fx-background-image: url("background.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

Button {
    -fx-text-fill: white;
    -fx-font-family: "Courier New";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#008040, #00cc66);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-cursor: hand;
    -fx-font-weight: bold;
}

Button:hover{
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-text-fill: white;
    -fx-background-color: #00cc66;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}
>>>>>>> 61bbfae54443a08292d12e13556d9d38a6627a8d
